* {
  padding: 0;
  margin: 0;
}

.header__site header {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: bisque;
  padding-bottom: 50px;
}

.header__site header img {
  width: 200px;
}
